* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
}
.container h2{
    font-size: 50px;
    font-weight: 600;
}

.container p{
    font-size: 20px;
    font-weight: 400;
    width: 500px;
    line-height: 30px;
}

.slide2 ul{
    font-size: 20px;
    font-weight: 400;
    width: 500px;
    line-height: 30px;
    a:hover{
        color:red;
        text-decoration:underline;
    }
}

.slides{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
    background: linear-gradient(454deg, #4f4080, #9553ff);
}

.slides img{
    width: 350px;
}

.slide1{
        background: linear-gradient(454deg, #4f4080, #9553ff);
}

.slide2{
        background: linear-gradient(454deg, #404c80, #53ff88);
}

.slide3{
        background: linear-gradient(454deg, #4f4080, #ff5353);
}

footer{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(454deg, #4f4080, #ff5353);
}

.slide1 img{
        border-radius: 50%;
        padding:20px;
        background: white;
}